<a href="https://colab.research.google.com/github/Georgeslibissa03/Georgeslibissa03/blob/main/PySpark_Initiation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk6headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
E: Unable to locate package openjdk-8-jdk6headless

In [ ]:
!apt install openjdk-8-jdk

Reading package lists... Done
Building dependency tree
Reading state information... Done
openjdk-8-jdk is already the newest version (8u342-b07-0ubuntu1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 27 not upgraded.

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [ ]:
!ls

'03_03_data (1).csv'   spark-2.3.1-bin-hadoop2.7	 spark-warehouse
'03_03_data (2).csv'   spark-2.3.1-bin-hadoop2.7.tgz	'texte (1).txt'
 03_03_data.csv        spark-2.3.1-bin-hadoop2.7.tgz.1	'texte (2).txt'
 sample_data	       spark-2.3.1-bin-hadoop2.7.tgz.2	 texte.txt

In [ ]:
!update-alternatives --config java

There are 2 choices for the alternative java (providing /usr/bin/java).

  Selection    Path                                            Priority   Status
------------------------------------------------------------
  0            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      auto mode
* 1            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      manual mode
  2            /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java   1081      manual mode

Press <enter> to keep the current choice[*], or type selection number: 0

In [ ]:
!java -version

openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode)

In [ ]:
import findspark
findspark.init()
from pyspark import SparkContext

sc = SparkContext.getOrCreate()
sc

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

In [ ]:
import pyspark.sql.functions as findspark
from pyspark.sql.types import *

In [ ]:
schema=StructType().add("id_utilisateur","string").add("pays","string").add("profession", "string").add("genre",'string').add("age", "integer")

In [ ]:
df=spark.createDataFrame([("A123",'Maroc',"Médécin","Femme", 33),("B234",'Canada',"Entrepreneur","Femme",35),("345",'France',"Professeur","Femme",40)],schema=schema)

In [ ]:
df.printSchema()

root
 |-- id_utilisateur: string (nullable = true)
 |-- pays: string (nullable = true)
 |-- profession: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- age: integer (nullable = true)

In [ ]:
df.show()

+--------------+------+------------+-----+---+
|id_utilisateur|  pays|  profession|genre|age|
+--------------+------+------------+-----+---+
|          A123| Maroc|     Médécin|Femme| 33|
|          B234|Canada|Entrepreneur|Femme| 35|
|           345|France|  Professeur|Femme| 40|
+--------------+------+------------+-----+---+

In [ ]:
# Importer les données
# Ces données représentent l'étude de l'évolution des Part des énergies renouvelables
# Dans la consommation finale brute d’énergie dans l’Union européenne

from google.colab import files
files.upload()

Saving 03_03_data.csv to 03_03_data (3).csv

{'03_03_data.csv': b'Pays;2005;2006;2007;2008;2009;2010;2011;2012;2013;2014;2015;2016;2017;2018\r\nAllemagne;7,20;8,50;10,10;10,10;10,90;11,70;12,50;13,60;13,80;14,40;14,90;14,90;15,50;16,50\r\nAutriche;24,40;26,30;28,20;28,90;31,00;31,20;31,60;32,70;32,80;33,70;33,50;33,40;33,10;33,40\r\nBelgique;2,30;2,60;3,10;3,60;4,70;5,60;6,30;7,20;7,50;8,00;8,00;8,70;9,10;9,40\r\nBulgarie;9,20;9,40;9,10;10,30;12,00;13,90;14,20;15,80;18,90;18,10;18,30;18,80;18,70;20,50\r\nChypre;3,10;3,30;4,00;5,10;5,90;6,20;6,30;7,10;8,50;9,20;9,90;9,90;10,50;13,90\r\nCroatie;23,70;22,70;22,20;22,00;23,60;25,10;25,40;26,80;28,00;27,80;29,00;28,30;27,30;28,00\r\nDanemark;16,00;16,30;17,70;18,50;20,00;21,90;23,40;25,50;27,20;29,30;30,80;31,80;34,70;35,70\r\nEspagne;8,40;9,10;9,70;10,70;13,00;13,80;13,20;14,30;15,30;16,10;16,20;17,40;17,60;17,50\r\nEstonie;17,40;16,00;17,00;18,60;22,90;24,60;25,30;25,50;25,30;26,10;28,20;28,70;29,10;30,00\r\nFinlande;28,80;30,10;29,60;31,40;31,30;32,40;32,80;34,40;36,70;38,80;39,30;39,00;40,90;41,20\r\nFrance;9,60;9,30;10,20;11,20;12,20;12,70;(1) 12,7;13,40;14,00;14,60;15,00;15,70;16,00;16,60\r\nGr\xe8ce;7,30;7,50;8,20;8,20;8,70;10,10;11,20;13,70;15,30;15,70;15,70;15,40;17,00;18,00\r\nHongrie;6,90;7,40;8,60;8,60;11,70;12,70;14,00;15,50;16,20;14,60;14,50;14,30;13,50;12,50\r\nIrlande;2,80;3,00;3,50;3,90;5,20;5,70;6,60;7,10;7,60;8,60;9,10;9,30;10,60;11,10\r\nItalie;7,50;8,30;9,80;11,50;12,80;13,00;12,90;15,40;16,70;17,10;17,50;17,40;18,30;17,80\r\nLettonie;32,30;31,10;29,60;29,80;34,30;30,40;33,50;35,70;37,00;38,60;37,50;37,10;39,00;40,30\r\nLituanie;16,80;16,90;16,50;17,80;19,80;19,60;19,90;21,40;22,70;23,60;25,80;25,60;26,00;24,40\r\nLuxembourg;1,40;1,50;2,70;2,80;2,90;2,90;2,90;3,10;3,50;4,50;5,10;5,40;6,30;9,10\r\nMalte;0,10;0,10;0,20;0,20;0,20;1,00;1,90;2,90;3,80;4,70;5,10;6,20;7,30;8,00\r\nPays-Bas;2,50;2,80;3,30;3,60;4,30;3,90;4,50;4,70;4,70;5,40;5,70;5,80;6,50;7,40\r\nPologne;6,90;6,90;6,90;7,70;8,70;9,30;10,30;10,90;11,40;11,50;11,70;11,30;11,00;11,30\r\nPortugal;19,50;20,80;21,90;22,90;24,40;24,20;24,60;24,60;25,70;29,50;30,50;30,90;30,60;30,30\r\nR\xe9publique tch\xe8que;7,10;7,40;7,90;8,70;10,00;10,50;10,90;12,80;13,90;15,10;15,10;14,90;14,80;15,20\r\nRoumanie;17,60;17,10;18,20;20,20;22,20;22,80;21,20;22,80;23,90;24,80;24,80;25,00;24,50;23,90\r\nRoyaume-Uni;1,10;1,30;1,60;2,70;3,30;3,80;4,30;4,40;5,50;6,70;8,30;9,00;9,70;11,00\r\nSlovaquie;6,40;6,60;7,80;7,70;9,40;9,10;10,30;10,50;10,10;11,70;12,90;12,00;11,50;11,90\r\nSlov\xe9nie;16,00;15,60;15,60;15,00;20,10;20,40;20,30;20,80;22,40;21,50;21,90;21,30;21,10;21,10\r\nSu\xe8de;40,70;42,40;43,90;44,70;47,90;47,00;48,20;50,20;50,80;51,90;53,00;53,40;54,20;54,60\r\n'}

In [ ]:
df = spark.read.option("delimiter", ";").csv('03_03_data.csv',header=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.show()

+----------+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
|      Pays| 2005| 2006| 2007| 2008| 2009| 2010|    2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+----------+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
| Allemagne| 7,20| 8,50|10,10|10,10|10,90|11,70|   12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
|  Autriche|24,40|26,30|28,20|28,90|31,00|31,20|   31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
|  Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60|    6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|
|  Bulgarie| 9,20| 9,40| 9,10|10,30|12,00|13,90|   14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|    Chypre| 3,10| 3,30| 4,00| 5,10| 5,90| 6,20|    6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
|   Croatie|23,70|22,70|22,20|22,00|23,60|25,10|   25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|
|  Danemark|16,00|16,30|17,70|18,50|20,00|21,90|   23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|
|   Espagne| 8,40| 9,10| 9,70|10,70|13,00|13,80|   13,20|14,30|15,30|16,10|16,20|17,40|17,60|17,50|
|   Estonie|17,40|16,00|17,00|18,60|22,90|24,60|   25,30|25,50|25,30|26,10|28,20|28,70|29,10|30,00|
|  Finlande|28,80|30,10|29,60|31,40|31,30|32,40|   32,80|34,40|36,70|38,80|39,30|39,00|40,90|41,20|
|    France| 9,60| 9,30|10,20|11,20|12,20|12,70|(1) 12,7|13,40|14,00|14,60|15,00|15,70|16,00|16,60|
|     Gr�ce| 7,30| 7,50| 8,20| 8,20| 8,70|10,10|   11,20|13,70|15,30|15,70|15,70|15,40|17,00|18,00|
|   Hongrie| 6,90| 7,40| 8,60| 8,60|11,70|12,70|   14,00|15,50|16,20|14,60|14,50|14,30|13,50|12,50|
|   Irlande| 2,80| 3,00| 3,50| 3,90| 5,20| 5,70|    6,60| 7,10| 7,60| 8,60| 9,10| 9,30|10,60|11,10|
|    Italie| 7,50| 8,30| 9,80|11,50|12,80|13,00|   12,90|15,40|16,70|17,10|17,50|17,40|18,30|17,80|
|  Lettonie|32,30|31,10|29,60|29,80|34,30|30,40|   33,50|35,70|37,00|38,60|37,50|37,10|39,00|40,30|
|  Lituanie|16,80|16,90|16,50|17,80|19,80|19,60|   19,90|21,40|22,70|23,60|25,80|25,60|26,00|24,40|
|Luxembourg| 1,40| 1,50| 2,70| 2,80| 2,90| 2,90|    2,90| 3,10| 3,50| 4,50| 5,10| 5,40| 6,30| 9,10|
|     Malte| 0,10| 0,10| 0,20| 0,20| 0,20| 1,00|    1,90| 2,90| 3,80| 4,70| 5,10| 6,20| 7,30| 8,00|
|  Pays-Bas| 2,50| 2,80| 3,30| 3,60| 4,30| 3,90|    4,50| 4,70| 4,70| 5,40| 5,70| 5,80| 6,50| 7,40|
+----------+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [ ]:
df.count()

28

In [ ]:
# nombre de colonnes

len(df.columns)

15

In [ ]:
# retourner les éléments par lignes

df.take(3)

[Row(Pays='Allemagne', 2005='7,20', 2006='8,50', 2007='10,10', 2008='10,10', 2009='10,90', 2010='11,70', 2011='12,50', 2012='13,60', 2013='13,80', 2014='14,40', 2015='14,90', 2016='14,90', 2017='15,50', 2018='16,50'),
 Row(Pays='Autriche', 2005='24,40', 2006='26,30', 2007='28,20', 2008='28,90', 2009='31,00', 2010='31,20', 2011='31,60', 2012='32,70', 2013='32,80', 2014='33,70', 2015='33,50', 2016='33,40', 2017='33,10', 2018='33,40'),
 Row(Pays='Belgique', 2005='2,30', 2006='2,60', 2007='3,10', 2008='3,60', 2009='4,70', 2010='5,60', 2011='6,30', 2012='7,20', 2013='7,50', 2014='8,00', 2015='8,00', 2016='8,70', 2017='9,10', 2018='9,40')]

In [ ]:
# retourner l'ensemble des éléments

df.collect()

[Row(Pays='Allemagne', 2005='7,20', 2006='8,50', 2007='10,10', 2008='10,10', 2009='10,90', 2010='11,70', 2011='12,50', 2012='13,60', 2013='13,80', 2014='14,40', 2015='14,90', 2016='14,90', 2017='15,50', 2018='16,50'),
 Row(Pays='Autriche', 2005='24,40', 2006='26,30', 2007='28,20', 2008='28,90', 2009='31,00', 2010='31,20', 2011='31,60', 2012='32,70', 2013='32,80', 2014='33,70', 2015='33,50', 2016='33,40', 2017='33,10', 2018='33,40'),
 Row(Pays='Belgique', 2005='2,30', 2006='2,60', 2007='3,10', 2008='3,60', 2009='4,70', 2010='5,60', 2011='6,30', 2012='7,20', 2013='7,50', 2014='8,00', 2015='8,00', 2016='8,70', 2017='9,10', 2018='9,40'),
 Row(Pays='Bulgarie', 2005='9,20', 2006='9,40', 2007='9,10', 2008='10,30', 2009='12,00', 2010='13,90', 2011='14,20', 2012='15,80', 2013='18,90', 2014='18,10', 2015='18,30', 2016='18,80', 2017='18,70', 2018='20,50'),
 Row(Pays='Chypre', 2005='3,10', 2006='3,30', 2007='4,00', 2008='5,10', 2009='5,90', 2010='6,20', 2011='6,30', 2012='7,10', 2013='8,50', 2014='9,20', 2015='9,90', 2016='9,90', 2017='10,50', 2018='13,90'),
 Row(Pays='Croatie', 2005='23,70', 2006='22,70', 2007='22,20', 2008='22,00', 2009='23,60', 2010='25,10', 2011='25,40', 2012='26,80', 2013='28,00', 2014='27,80', 2015='29,00', 2016='28,30', 2017='27,30', 2018='28,00'),
 Row(Pays='Danemark', 2005='16,00', 2006='16,30', 2007='17,70', 2008='18,50', 2009='20,00', 2010='21,90', 2011='23,40', 2012='25,50', 2013='27,20', 2014='29,30', 2015='30,80', 2016='31,80', 2017='34,70', 2018='35,70'),
 Row(Pays='Espagne', 2005='8,40', 2006='9,10', 2007='9,70', 2008='10,70', 2009='13,00', 2010='13,80', 2011='13,20', 2012='14,30', 2013='15,30', 2014='16,10', 2015='16,20', 2016='17,40', 2017='17,60', 2018='17,50'),
 Row(Pays='Estonie', 2005='17,40', 2006='16,00', 2007='17,00', 2008='18,60', 2009='22,90', 2010='24,60', 2011='25,30', 2012='25,50', 2013='25,30', 2014='26,10', 2015='28,20', 2016='28,70', 2017='29,10', 2018='30,00'),
 Row(Pays='Finlande', 2005='28,80', 2006='30,10', 2007='29,60', 2008='31,40', 2009='31,30', 2010='32,40', 2011='32,80', 2012='34,40', 2013='36,70', 2014='38,80', 2015='39,30', 2016='39,00', 2017='40,90', 2018='41,20'),
 Row(Pays='France', 2005='9,60', 2006='9,30', 2007='10,20', 2008='11,20', 2009='12,20', 2010='12,70', 2011='(1) 12,7', 2012='13,40', 2013='14,00', 2014='14,60', 2015='15,00', 2016='15,70', 2017='16,00', 2018='16,60'),
 Row(Pays='Gr�ce', 2005='7,30', 2006='7,50', 2007='8,20', 2008='8,20', 2009='8,70', 2010='10,10', 2011='11,20', 2012='13,70', 2013='15,30', 2014='15,70', 2015='15,70', 2016='15,40', 2017='17,00', 2018='18,00'),
 Row(Pays='Hongrie', 2005='6,90', 2006='7,40', 2007='8,60', 2008='8,60', 2009='11,70', 2010='12,70', 2011='14,00', 2012='15,50', 2013='16,20', 2014='14,60', 2015='14,50', 2016='14,30', 2017='13,50', 2018='12,50'),
 Row(Pays='Irlande', 2005='2,80', 2006='3,00', 2007='3,50', 2008='3,90', 2009='5,20', 2010='5,70', 2011='6,60', 2012='7,10', 2013='7,60', 2014='8,60', 2015='9,10', 2016='9,30', 2017='10,60', 2018='11,10'),
 Row(Pays='Italie', 2005='7,50', 2006='8,30', 2007='9,80', 2008='11,50', 2009='12,80', 2010='13,00', 2011='12,90', 2012='15,40', 2013='16,70', 2014='17,10', 2015='17,50', 2016='17,40', 2017='18,30', 2018='17,80'),
 Row(Pays='Lettonie', 2005='32,30', 2006='31,10', 2007='29,60', 2008='29,80', 2009='34,30', 2010='30,40', 2011='33,50', 2012='35,70', 2013='37,00', 2014='38,60', 2015='37,50', 2016='37,10', 2017='39,00', 2018='40,30'),
 Row(Pays='Lituanie', 2005='16,80', 2006='16,90', 2007='16,50', 2008='17,80', 2009='19,80', 2010='19,60', 2011='19,90', 2012='21,40', 2013='22,70', 2014='23,60', 2015='25,80', 2016='25,60', 2017='26,00', 2018='24,40'),
 Row(Pays='Luxembourg', 2005='1,40', 2006='1,50', 2007='2,70', 2008='2,80', 2009='2,90', 2010='2,90', 2011='2,90', 2012='3,10', 2013='3,50', 2014='4,50', 2015='5,10', 2016='5,40', 2017='6,30', 2018='9,10'),
 Row(Pays='Malte', 2005='0,10', 2006='0,10', 2007='0,20', 2008='0,20', 2009='0,20', 2010='1,00', 2011='1,90', 2012='2,90', 2013='3,80', 2014='4,70', 2015='5,10', 2016='6,20', 2017='7,30', 2018='8,00'),
 Row(Pays='Pays-Bas', 2005='2,50', 2006='2,80', 2007='3,30', 2008='3,60', 2009='4,30', 2010='3,90', 2011='4,50', 2012='4,70', 2013='4,70', 2014='5,40', 2015='5,70', 2016='5,80', 2017='6,50', 2018='7,40'),
 Row(Pays='Pologne', 2005='6,90', 2006='6,90', 2007='6,90', 2008='7,70', 2009='8,70', 2010='9,30', 2011='10,30', 2012='10,90', 2013='11,40', 2014='11,50', 2015='11,70', 2016='11,30', 2017='11,00', 2018='11,30'),
 Row(Pays='Portugal', 2005='19,50', 2006='20,80', 2007='21,90', 2008='22,90', 2009='24,40', 2010='24,20', 2011='24,60', 2012='24,60', 2013='25,70', 2014='29,50', 2015='30,50', 2016='30,90', 2017='30,60', 2018='30,30'),
 Row(Pays='R�publique tch�que', 2005='7,10', 2006='7,40', 2007='7,90', 2008='8,70', 2009='10,00', 2010='10,50', 2011='10,90', 2012='12,80', 2013='13,90', 2014='15,10', 2015='15,10', 2016='14,90', 2017='14,80', 2018='15,20'),
 Row(Pays='Roumanie', 2005='17,60', 2006='17,10', 2007='18,20', 2008='20,20', 2009='22,20', 2010='22,80', 2011='21,20', 2012='22,80', 2013='23,90', 2014='24,80', 2015='24,80', 2016='25,00', 2017='24,50', 2018='23,90'),
 Row(Pays='Royaume-Uni', 2005='1,10', 2006='1,30', 2007='1,60', 2008='2,70', 2009='3,30', 2010='3,80', 2011='4,30', 2012='4,40', 2013='5,50', 2014='6,70', 2015='8,30', 2016='9,00', 2017='9,70', 2018='11,00'),
 Row(Pays='Slovaquie', 2005='6,40', 2006='6,60', 2007='7,80', 2008='7,70', 2009='9,40', 2010='9,10', 2011='10,30', 2012='10,50', 2013='10,10', 2014='11,70', 2015='12,90', 2016='12,00', 2017='11,50', 2018='11,90'),
 Row(Pays='Slov�nie', 2005='16,00', 2006='15,60', 2007='15,60', 2008='15,00', 2009='20,10', 2010='20,40', 2011='20,30', 2012='20,80', 2013='22,40', 2014='21,50', 2015='21,90', 2016='21,30', 2017='21,10', 2018='21,10'),
 Row(Pays='Su�de', 2005='40,70', 2006='42,40', 2007='43,90', 2008='44,70', 2009='47,90', 2010='47,00', 2011='48,20', 2012='50,20', 2013='50,80', 2014='51,90', 2015='53,00', 2016='53,40', 2017='54,20', 2018='54,60')]

In [ ]:
# Transformer la DataFrame PySpark en DataFrame Pandas

df.toPandas()

,Pays,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Allemagne,"7,20","8,50","10,10","10,10","10,90","11,70","12,50","13,60","13,80","14,40","14,90","14,90","15,50","16,50"
1,Autriche,"24,40","26,30","28,20","28,90","31,00","31,20","31,60","32,70","32,80","33,70","33,50","33,40","33,10","33,40"
2,Belgique,"2,30","2,60","3,10","3,60","4,70","5,60","6,30","7,20","7,50","8,00","8,00","8,70","9,10","9,40"
3,Bulgarie,"9,20","9,40","9,10","10,30","12,00","13,90","14,20","15,80","18,90","18,10","18,30","18,80","18,70","20,50"
4,Chypre,"3,10","3,30","4,00","5,10","5,90","6,20","6,30","7,10","8,50","9,20","9,90","9,90","10,50","13,90"
5,Croatie,"23,70","22,70","22,20","22,00","23,60","25,10","25,40","26,80","28,00","27,80","29,00","28,30","27,30","28,00"
6,Danemark,"16,00","16,30","17,70","18,50","20,00","21,90","23,40","25,50","27,20","29,30","30,80","31,80","34,70","35,70"
7,Espagne,"8,40","9,10","9,70","10,70","13,00","13,80","13,20","14,30","15,30","16,10","16,20","17,40","17,60","17,50"
8,Estonie,"17,40","16,00","17,00","18,60","22,90","24,60","25,30","25,50","25,30","26,10","28,20","28,70","29,10","30,00"
9,Finlande,"28,80","30,10","29,60","31,40","31,30","32,40","32,80","34,40","36,70","38,80","39,30","39,00","40,90","41,20"
10,France,"9,60","9,30","10,20","11,20","12,20","12,70","(1) 12,7","13,40","14,00","14,60","15,00","15,70","16,00","16,60"
11,Gr�ce,"7,30","7,50","8,20","8,20","8,70","10,10","11,20","13,70","15,30","15,70","15,70","15,40","17,00","18,00"
12,Hongrie,"6,90","7,40","8,60","8,60","11,70","12,70","14,00","15,50","16,20","14,60","14,50","14,30","13,50","12,50"
13,Irlande,"2,80","3,00","3,50","3,90","5,20","5,70","6,60","7,10","7,60","8,60","9,10","9,30","10,60","11,10"
14,Italie,"7,50","8,30","9,80","11,50","12,80","13,00","12,90","15,40","16,70","17,10","17,50","17,40","18,30","17,80"
15,Lettonie,"32,30","31,10","29,60","29,80","34,30","30,40","33,50","35,70","37,00","38,60","37,50","37,10","39,00","40,30"
16,Lituanie,"16,80","16,90","16,50","17,80","19,80","19,60","19,90","21,40","22,70","23,60","25,80","25,60","26,00","24,40"
17,Luxembourg,"1,40","1,50","2,70","2,80","2,90","2,90","2,90","3,10","3,50","4,50","5,10","5,40","6,30","9,10"
18,Malte,"0,10","0,10","0,20","0,20","0,20","1,00","1,90","2,90","3,80","4,70","5,10","6,20","7,30","8,00"
19,Pays-Bas,"2,50","2,80","3,30","3,60","4,30","3,90","4,50","4,70","4,70","5,40","5,70","5,80","6,50","7,40"
20,Pologne,"6,90","6,90","6,90","7,70","8,70","9,30","10,30","10,90","11,40","11,50","11,70","11,30","11,00","11,30"
21,Portugal,"19,50","20,80","21,90","22,90","24,40","24,20","24,60","24,60","25,70","29,50","30,50","30,90","30,60","30,30"
22,R�publique tch�que,"7,10","7,40","7,90","8,70","10,00","10,50","10,90","12,80","13,90","15,10","15,10","14,90","14,80","15,20"
23,Roumanie,"17,60","17,10","18,20","20,20","22,20","22,80","21,20","22,80","23,90","24,80","24,80","25,00","24,50","23,90"
24,Royaume-Uni,"1,10","1,30","1,60","2,70","3,30","3,80","4,30","4,40","5,50","6,70","8,30","9,00","9,70","11,00"
25,Slovaquie,"6,40","6,60","7,80","7,70","9,40","9,10","10,30","10,50","10,10","11,70","12,90","12,00","11,50","11,90"
26,Slov�nie,"16,00","15,60","15,60","15,00","20,10","20,40","20,30","20,80","22,40","21,50","21,90","21,30","21,10","21,10"
27,Su�de,"40,70","42,40","43,90","44,70","47,90","47,00","48,20","50,20","50,80","51,90","53,00","53,40","54,20","54,60"

In [ ]:
# Manipulation des colonnes du fichier data

df.show(5)

+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|     Pays| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|Allemagne| 7,20| 8,50|10,10|10,10|10,90|11,70|12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
| Autriche|24,40|26,30|28,20|28,90|31,00|31,20|31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
| Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60| 6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|
| Bulgarie| 9,20| 9,40| 9,10|10,30|12,00|13,90|14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|   Chypre| 3,10| 3,30| 4,00| 5,10| 5,90| 6,20| 6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 5 rows

In [ ]:
df.select("2015").show(3)

+-----+
| 2015|
+-----+
|14,90|
|33,50|
| 8,00|
+-----+
only showing top 3 rows

In [ ]:
df.select("2015","2016","2017").show(3)

+-----+-----+-----+
| 2015| 2016| 2017|
+-----+-----+-----+
|14,90|14,90|15,50|
|33,50|33,40|33,10|
| 8,00| 8,70| 9,10|
+-----+-----+-----+
only showing top 3 rows

In [ ]:
# rajouter une colonne

from pyspark.sql.functions import lit

df_with_2020 = df.withColumn("2025", lit(50))
df_with_2020.show(5)

+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+
|     Pays| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|2025|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+
|Allemagne| 7,20| 8,50|10,10|10,10|10,90|11,70|12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|  50|
| Autriche|24,40|26,30|28,20|28,90|31,00|31,20|31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|  50|
| Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60| 6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|  50|
| Bulgarie| 9,20| 9,40| 9,10|10,30|12,00|13,90|14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|  50|
|   Chypre| 3,10| 3,30| 4,00| 5,10| 5,90| 6,20| 6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|  50|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+
only showing top 5 rows

In [ ]:
# supprimer une colonne

df_sans_2025 = df.drop("2025")
df_sans_2025.show(6)

+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|     Pays| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|Allemagne| 7,20| 8,50|10,10|10,10|10,90|11,70|12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
| Autriche|24,40|26,30|28,20|28,90|31,00|31,20|31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
| Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60| 6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|
| Bulgarie| 9,20| 9,40| 9,10|10,30|12,00|13,90|14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|   Chypre| 3,10| 3,30| 4,00| 5,10| 5,90| 6,20| 6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
|  Croatie|23,70|22,70|22,20|22,00|23,60|25,10|25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 6 rows

In [ ]:
# maitriser le travail avec des lignes

import seaborn as sns 

# jeu de données tips

pourboire = sns.load_dataset("tips")
pourboire.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
df = spark.createDataFrame(pourboire)
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: long (nullable = true)

/content/spark-2.3.1-bin-hadoop2.7/python/pyspark/sql/session.py:665: UserWarning: Arrow will not be used in createDataFrame: Unsupported type in conversion from Arrow: dictionary<values=string, indices=int8, ordered=0>
  warnings.warn("Arrow will not be used in createDataFrame: %s" % str(e))

In [ ]:
# renommer les colonnes en français

df2 = df.withColumnRenamed("total_bill","Total") \
.withColumnRenamed("tip","pourboire") \
.withColumnRenamed("sex","genre") \
.withColumnRenamed("smoker","fumeur") \
.withColumnRenamed("day","jour") \
.withColumnRenamed("time","repas") \
.withColumnRenamed("size","nombre")

In [ ]:
df2.show(3)

+-----+---------+------+------+----+------+------+
|Total|pourboire| genre|fumeur|jour| repas|nombre|
+-----+---------+------+------+----+------+------+
|16.99|     1.01|Female|    No| Sun|Dinner|     2|
|10.34|     1.66|  Male|    No| Sun|Dinner|     3|
|21.01|      3.5|  Male|    No| Sun|Dinner|     3|
+-----+---------+------+------+----+------+------+
only showing top 3 rows

In [ ]:
df2.count()

244

In [ ]:
# afficher les nombres de pourboires égaux à 2 avec une valeur supérieur à 2

df2.filter(df2['pourboire'] > 2 ).filter(df2['nombre'] == 2).show(10)

+-----+---------+------+------+----+------+------+
|Total|pourboire| genre|fumeur|jour| repas|nombre|
+-----+---------+------+------+----+------+------+
|23.68|     3.31|  Male|    No| Sun|Dinner|     2|
|14.78|     3.23|  Male|    No| Sun|Dinner|     2|
|14.83|     3.02|Female|    No| Sun|Dinner|     2|
|21.58|     3.92|  Male|    No| Sun|Dinner|     2|
|17.92|     4.08|  Male|    No| Sat|Dinner|     2|
|20.29|     2.75|Female|    No| Sat|Dinner|     2|
|15.77|     2.23|Female|    No| Sat|Dinner|     2|
|19.82|     3.18|  Male|    No| Sat|Dinner|     2|
| 21.7|      4.3|  Male|    No| Sat|Dinner|     2|
|19.65|      3.0|Female|    No| Sat|Dinner|     2|
+-----+---------+------+------+----+------+------+
only showing top 10 rows

In [ ]:
# afficher le nombre de pourboires égal à 2 avec une valeur supérieure à 2 des fumeurs

df2.filter(df2['pourboire'] > 2).filter(df2['nombre'] == 2).filter(df2['fumeur'] == 'Yes').show(10)

+-----+---------+------+------+----+------+------+
|Total|pourboire| genre|fumeur|jour| repas|nombre|
+-----+---------+------+------+----+------+------+
|20.29|     3.21|  Male|   Yes| Sat|Dinner|     2|
|15.01|     2.09|  Male|   Yes| Sat|Dinner|     2|
|26.86|     3.14|Female|   Yes| Sat|Dinner|     2|
|25.28|      5.0|Female|   Yes| Sat|Dinner|     2|
|17.92|     3.08|  Male|   Yes| Sat|Dinner|     2|
|19.44|      3.0|  Male|   Yes|Thur| Lunch|     2|
|32.68|      5.0|  Male|   Yes|Thur| Lunch|     2|
|28.97|      3.0|  Male|   Yes| Fri|Dinner|     2|
|16.32|      4.3|Female|   Yes| Fri|Dinner|     2|
|27.28|      4.0|  Male|   Yes| Fri|Dinner|     2|
+-----+---------+------+------+----+------+------+
only showing top 10 rows

In [ ]:
# compter le nombre de pourboires égal à 2 avec une valeur supérieure à 2 des fumeurs

df2.filter(df2['pourboire'] > 2).filter(df2['nombre'] == 2).filter(df2['fumeur'] == 'Yes').count()

41

In [ ]:
# classer en ordre ascandant le nombre de pourboires égal à 2 avec une valeur supérieure à 2 des fumeurs

df2.filter(df2['pourboire'] > 2).filter(df2['nombre'] == 2).filter(df2['fumeur'] == 'Yes').orderBy('pourboire',ascending=False).show(10)

+-----+---------+------+------+----+------+------+
|Total|pourboire| genre|fumeur|jour| repas|nombre|
+-----+---------+------+------+----+------+------+
|23.33|     5.65|  Male|   Yes| Sun|Dinner|     2|
| 7.25|     5.15|  Male|   Yes| Sun|Dinner|     2|
|25.28|      5.0|Female|   Yes| Sat|Dinner|     2|
|32.68|      5.0|  Male|   Yes|Thur| Lunch|     2|
|16.32|      4.3|Female|   Yes| Fri|Dinner|     2|
|25.21|     4.29|  Male|   Yes| Sat|Dinner|     2|
|19.81|     4.19|Female|   Yes|Thur| Lunch|     2|
|20.49|     4.06|  Male|   Yes| Sat|Dinner|     2|
|14.31|      4.0|Female|   Yes| Sat|Dinner|     2|
|16.82|      4.0|  Male|   Yes| Sun|Dinner|     2|
+-----+---------+------+------+----+------+------+
only showing top 10 rows

In [ ]:
# grouper les fumeurs 

df2.groupBy('fumeur').count().show()

+------+-----+
|fumeur|count|
+------+-----+
|    No|  151|
|   Yes|   93|
+------+-----+

In [ ]:
# grouper selon le genre

df2.groupBy('genre').count().show()

+------+-----+
| genre|count|
+------+-----+
|Female|   87|
|  Male|  157|
+------+-----+

In [ ]:
# jours classés en ordre décroissant

df2.groupBy('jour').count().orderBy('count',ascending=False).show(10)

+----+-----+
|jour|count|
+----+-----+
| Sat|   87|
| Sun|   76|
|Thur|   62|
| Fri|   19|
+----+-----+

In [ ]:
# prise en main des fonctions natives
# elles se trouvent dans pyspark-sql


from pyspark.sql import functions
print(dir(functions))

['AutoBatchedSerializer', 'Column', 'DataFrame', 'DataType', 'PandasUDFType', 'PickleSerializer', 'PythonEvalType', 'SparkContext', 'StringType', 'UserDefinedFunction', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_binary_mathfunctions', '_collect_list_doc', '_collect_set_doc', '_create_binary_mathfunction', '_create_function', '_create_udf', '_create_window_function', '_functions', '_functions_1_4', '_functions_1_6', '_functions_2_1', '_functions_deprecated', '_lit_doc', '_message', '_string_functions', '_test', '_to_java_column', '_to_seq', '_window_functions', '_wrap_deprecated_function', 'abs', 'acos', 'add_months', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'asc', 'ascii', 'asin', 'atan', 'atan2', 'avg', 'base64', 'bin', 'bitwiseNOT', 'blacklist', 'broadcast', 'bround', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'count', 'countDistinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'decode', 'degrees', 'dense_rank', 'desc', 'encode', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'first', 'floor', 'format_number', 'format_string', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hypot', 'ignore_unicode_prefix', 'initcap', 'input_file_name', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'map_keys', 'map_values', 'math', 'max', 'md5', 'mean', 'min', 'minute', 'monotonically_increasing_id', 'month', 'months_between', 'nanvl', 'next_day', 'ntile', 'pandas_udf', 'percent_rank', 'posexplode', 'posexplode_outer', 'pow', 'quarter', 'radians', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'second', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sys', 'tan', 'tanh', 'toDegrees', 'toRadians', 'to_date', 'to_json', 'to_timestamp', 'to_utc_timestamp', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'year']

In [ ]:
from pyspark.sql.types import *
schema=StructType().add("id_utilisateur","string").add("pays","string").add("profession", "string").add("genre",'string').add("age", "integer")
df=spark.createDataFrame([("A123",'Maroc',"Médecin","Femme", 33),("B234",'Canada',"Entrepreneur","Femme",35),("C345",'France',"Professeur", "Homme",40)],schema=schema)
df.show()

+--------------+------+------------+-----+---+
|id_utilisateur|  pays|  profession|genre|age|
+--------------+------+------------+-----+---+
|          A123| Maroc|     Médecin|Femme| 33|
|          B234|Canada|Entrepreneur|Femme| 35|
|          C345|France|  Professeur|Homme| 40|
+--------------+------+------------+-----+---+

In [ ]:
# tout en minuscule

from pyspark.sql.functions import lower, upper, col, substring
df.select(lower(col('pays'))).show()

+-----------+
|lower(pays)|
+-----------+
|      maroc|
|     canada|
|     france|
+-----------+

In [ ]:
# nom des pays en minuscule, majuscule et les premières lettres

df.select(lower(col('pays')),upper(col('pays')),substring(col('pays'),1,3)).show(5)

+-----------+-----------+---------------------+
|lower(pays)|upper(pays)|substring(pays, 1, 3)|
+-----------+-----------+---------------------+
|      maroc|      MAROC|                  Mar|
|     canada|     CANADA|                  Can|
|     france|     FRANCE|                  Fra|
+-----------+-----------+---------------------+

In [ ]:
# calcul de la moyenne des ages en utilisant avg

from pyspark.sql.functions import avg
df.select(avg(col('Age'))).show()

+--------+
|avg(Age)|
+--------+
|    36.0|
+--------+

In [ ]:
# changer l'encodage avec sondex

from pyspark.sql.functions import soundex
df.select(soundex(df.pays).alias("soundex")).show()

+-------+
|soundex|
+-------+
|   M620|
|   C530|
|   F652|
+-------+

In [ ]:
# manipuler des dates

df1 = spark.createDataFrame((("2021-01-23",1),("2021-06-24",2),("2021-09-20",3)),("date","nombre_de_mois"))
df1.show()

+----------+--------------+
|      date|nombre_de_mois|
+----------+--------------+
|2021-01-23|             1|
|2021-06-24|             2|
|2021-09-20|             3|
+----------+--------------+

In [ ]:
# ajouter un nbre de mois à la date initiale

import pyspark.sql.functions as F
df1.withColumn("nouvelle_date",F.add_months(col("date"), df1.first()[1])).show()

+----------+--------------+-------------+
|      date|nombre_de_mois|nouvelle_date|
+----------+--------------+-------------+
|2021-01-23|             1|   2021-02-23|
|2021-06-24|             2|   2021-07-24|
|2021-09-20|             3|   2021-10-20|
+----------+--------------+-------------+

In [ ]:
df2 = spark.createDataFrame([("2021_01_11",)],["date"])
df2.show()

+----------+
|      date|
+----------+
|2021_01_11|
+----------+

In [ ]:
df2.select(F.date_format('date', 'MM-dd-yyy').alias('Format date')).show()

+-----------+
|Format date|
+-----------+
|       null|
+-----------+

In [ ]:
df2.printSchema()

root
 |-- date: string (nullable = true)

In [ ]:
# transformer le format date 

from pyspark.sql.functions import to_date

 
df3 = df2.withColumn('date',to_date(df2.date, 'yyyy_MM_dd'))
df3.printSchema()
df3.select("date").dtypes

root
 |-- date: date (nullable = true)

[('date', 'date')]

In [ ]:
df3.show()

+----------+
|      date|
+----------+
|2021-01-11|
+----------+

In [ ]:
df3.select(F.date_format('date', 'MM-dd-yyyy').alias('Format date')).show()

+-----------+
|Format date|
+-----------+
| 01-11-2021|
+-----------+

In [ ]:
# créer des fonctions utilisateurs avec UDF

import pyspark.sql.functions as F
from pyspark.sql.types import *

schema=StructType().add("id_utilisateur","string").add("pays","string").add("profession", "string").add("genre",'string').add("age", "integer")
df=spark.createDataFrame([("A123",'Maroc',"Médecin","Femme", 33),("B234",'Canada',"Entrepreneur","Femme",35),("C345",'France',"Professeur", "Homme",40)],schema=schema)

In [ ]:
df.show()

+--------------+------+------------+-----+---+
|id_utilisateur|  pays|  profession|genre|age|
+--------------+------+------------+-----+---+
|          A123| Maroc|     Médecin|Femme| 33|
|          B234|Canada|Entrepreneur|Femme| 35|
|          C345|France|  Professeur|Homme| 40|
+--------------+------+------------+-----+---+

In [ ]:
# creer une fonction pour classer les utilisateurs selon leur age

def cat_age(age):
  if age < 40:
    return "Catégorie 1"
  else:
    return "Catégorie 2"

In [ ]:
from pyspark.sql.functions import udf
age_udf=udf(cat_age,StringType())

In [ ]:
df=df.withColumn('cat_age',age_udf(df['age']))
df.show()

+--------------+------+------------+-----+---+-----------+
|id_utilisateur|  pays|  profession|genre|age|    cat_age|
+--------------+------+------------+-----+---+-----------+
|          A123| Maroc|     Médecin|Femme| 33|Catégorie 1|
|          B234|Canada|Entrepreneur|Femme| 35|Catégorie 1|
|          C345|France|  Professeur|Homme| 40|Catégorie 2|
+--------------+------+------------+-----+---+-----------+

In [ ]:
df.groupby("cat_age").count().show()

+-----------+-----+
|    cat_age|count|
+-----------+-----+
|Catégorie 1|    2|
|Catégorie 2|    1|
+-----------+-----+

In [ ]:
# Travailler avec des jointures

a = [('chat',1),('chien',2),('singe',3),('lion',4)]
df_a = spark.createDataFrame(a,['animal','id'])

b = [('tigre',1),('chat',2),('singe',3),('girafe',4)]
df_b = spark.createDataFrame(b,['animal','id'])
 
df_a.show()
df_b.show()

+------+---+
|animal| id|
+------+---+
|  chat|  1|
| chien|  2|
| singe|  3|
|  lion|  4|
+------+---+

+------+---+
|animal| id|
+------+---+
| tigre|  1|
|  chat|  2|
| singe|  3|
|girafe|  4|
+------+---+

In [ ]:
# joindre les éléments similaires dans les deux DF
j_interne = df_a.join(df_b, df_a.animal == df_b.animal)
j_interne.show()

+------+---+------+---+
|animal| id|animal| id|
+------+---+------+---+
|  chat|  1|  chat|  2|
| singe|  3| singe|  3|
+------+---+------+---+

In [ ]:
j_gauche = df_a.join(df_b, df_a.animal == df_b.animal,how='left')
j_gauche.show()

+------+---+------+----+
|animal| id|animal|  id|
+------+---+------+----+
| chien|  2|  null|null|
|  lion|  4|  null|null|
|  chat|  1|  chat|   2|
| singe|  3| singe|   3|
+------+---+------+----+

In [ ]:
j_droite = df_a.join(df_b, df_a.animal == df_b.animal,how='right')
j_droite.show()

+------+----+------+---+
|animal|  id|animal| id|
+------+----+------+---+
|  chat|   1|  chat|  2|
|  null|null| tigre|  1|
| singe|   3| singe|  3|
|  null|null|girafe|  4|
+------+----+------+---+

In [ ]:
# Débuter avec les RDD

from google.colab import files
files.upload()

Saving texte.txt to texte (4).txt

{'texte.txt': b'Les RDD sont utiles pour le traitement des donn\xc3\xa9es non structur\xc3\xa9es'}

In [ ]:
rdd = sc.textFile("texte.txt")
type(rdd)

pyspark.rdd.RDD

In [ ]:
rdd.collect()

['Les RDD sont utiles pour le traitement des données non structurées']

In [ ]:
# rdd avec une liste en utilisant numpy

import numpy as np
liste=np.random.randint(0,100,10)
liste

array([ 4, 94, 38, 27, 86, 63, 21, 53, 35, 63])

In [ ]:
rdd_2 =sc.parallelize(liste)

In [ ]:
rdd_2.glom().collect()

[[4, 94, 38, 27, 86], [63, 21, 53, 35, 63]]

In [ ]:
# retourner le nombre d'éléments dans la rdd

rdd_2.count()

10

In [ ]:
# retourner le nombre de chaque élément dans la rdd

rdd_2.countByValue()

defaultdict(int,
            {4: 1, 94: 1, 38: 1, 27: 1, 86: 1, 63: 2, 21: 1, 53: 1, 35: 1})

In [ ]:
# afficher le premier élément de la rdd

rdd_2.first()

4

In [ ]:
# afficher les éléments en ordre décroissant 

rdd_2.top(3)

[94, 86, 63]

In [ ]:
# retourner la valeur maximale de la rdd avec l'action reduce

rdd_2.reduce(lambda x,y: x if x > y else y)

94

In [ ]:
# les transformations avec les rdd

rdd= sc.parallelize(range(1, 10))

In [ ]:
# retourner une rdd en appliquant une fonction a chaque element de la rdd avec map

rdd_1=rdd.map(lambda x: (x, 'a'*x))
rdd_1.collect()

[(1, 'a'),
 (2, 'aa'),
 (3, 'aaa'),
 (4, 'aaaa'),
 (5, 'aaaaa'),
 (6, 'aaaaaa'),
 (7, 'aaaaaaa'),
 (8, 'aaaaaaaa'),
 (9, 'aaaaaaaaa')]

In [ ]:
# renvoyer la rdd contenant les elements avec un predicat avec filter

rdd_2 = rdd.filter(lambda x: x % 2 == 0)
rdd_2.collect()

[2, 4, 6, 8]

In [ ]:
# renvoyer une nouvelle rdd en appliquant une nouvelle fonction à tous les éléments
# de la rdd et en applatisssant tous les résultats

rdd_3 = rdd_2.flatMap(lambda x: [(x, 2*x), (-x, 3*x)])
rdd_3.collect()

[(2, 4), (-2, 6), (4, 8), (-4, 12), (6, 12), (-6, 18), (8, 16), (-8, 24)]

In [ ]:
# les jointures avec des rdd

rdd_4 = sc.parallelize([("a", 1), ("b", 2)])
rdd_5 = sc.parallelize([("b", 2), ("b", 4)])
sorted(rdd_4.join(rdd_5).collect())

[('b', (2, 2)), ('b', (2, 4))]

In [ ]:
rdd_6= rdd_4.union(rdd_5)
rdd_6.collect()

[('a', 1), ('b', 2), ('b', 2), ('b', 4)]

In [ ]:
# eliminer les elements qui se repètent dans la rdd

rdd_6.distinct().collect()

[('a', 1), ('b', 2), ('b', 4)]

In [ ]:
# les techniques d'encodage

import pyspark
from pyspark.sql import SparkSession
import pandas as pd

df = pd.DataFrame({'Salarié': ['Eric', 'Elise', 'Hapsa', 'Xin'], 'Genre': ['Homme', 'Femme', 'Femme', 'Homme'], 'groupe': ['Technicien',  'Ingénieur','PhD', 
     'Technicien'],'date_embauche': [2016, 1988, 2012, 2001], 'salaire': [30000, 100000, 60000, 60000]})
df

  Salarié  Genre      groupe  date_embauche  salaire
0    Eric  Homme  Technicien           2016    30000
1   Elise  Femme   Ingénieur           1988   100000
2   Hapsa  Femme         PhD           2012    60000
3     Xin  Homme  Technicien           2001    60000